<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.baseurl }}/index.html">{{ site.title }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="http://desireeslaughter.com" target="_blank">Resume & Portfolio</a></li>
            <li><a href="https://justdesi.me" target="_blank">Personal Blog</a></li>
            <li><a href="https://justdesi.me/click-here" target="_blank">Let's Connect</a></li>
            <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}"
                   class="icon fa-feed"> RSS</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
